
#temp_languagePicker {
    background-color: #717876
}
.language-picker {
    width: 2000px;
    padding: 20px 20px;
    cursor: pointer;
    background-color: #fff;
    line-height: 20px;
    display: block;
    padding: 10px 10px;
    text-align: left;
    display: table-cell;
}

#four_links {
    background-color: darkslategrey;
}

.button{
    background-color: cadetblue;
    color:blue;
    display: inline-block;
    font-size:16px;
    margin:4px 2px;
    cursor:pointer;
}

#mainMenu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align:center;
}
li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  #menu-outer {
	background-color: darkslategrey;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
		display: inline;
	}

.frontpage-button{
    float: right;
    text-align: center;
    background-color:lightslategray;
}

#teachers {
    width: 2000px;
    padding: 20px 20px;
    cursor: pointer;
    background-color: dimgray;
    line-height: 20px;
    display: block;
    padding: 10px 10px;
    text-align: left;
    display: table-cell;
    }
#students {
    width: 2000px;
    padding: 20px 20px;
    cursor: pointer;
    background-color: dimgray;
    line-height: 20px;
    display: block;
    padding: 10px 10px;
    text-align: left;
    display: table-cell;
    }
#schools {
    width: 2000px;
    padding: 20px 20px;
    cursor: pointer;
    background-color: dimgray;
    line-height: 20px;
    display: block;
    padding: 10px 10px;
    text-align: left;
    display: table-cell;
    }